node_modules/
dist/

# Security and Access Keys
src/config/access_keys/

.env

android/
ios/
.idea/

# Images and documents
*.png
*.jpg
*.jpeg
*.pdf
*.xlsx

# Common editor / system files
package-lock.json
.expo/
.vscode/
npm-debug.log*
yarn.lock
.DS_Store

node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
