# .gitignore
/* Creado por Jesús Pirela */

# Variables de entorno y secretos
.env
.env.local
.env.*.local
*.env
*.env *
.env*
backend/.env*
local.properties
secrets.properties
google-services.json
google-services.plist
secrets.json

# Supabase
supabase/.temp
supabase/seed.sql

# Claves y Keystores
*.keystore
*.jks
*.p12
*.pem

# Node / Dependencias
node_modules/
dist/
build/
.expo/
*.log

# IDEs y Sistema
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Mobile específico
*.ipa
*.apk
